@import 'src/app/shared/variable.scss';

.auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-width: 550px;

    .auth-card {
        background-color: white;
        padding: 80px 40px;

        .card-header {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
            grid-gap: 5px;
            gap: 5px;
            margin-bottom: 20px;

            span {
                text-transform: uppercase;
                padding-bottom: 25px;
                border-bottom: 4px solid $color-disabled;
                color: $color-disabled;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}

.auth-selected {
    border-bottom-color: $color-primary !important;
    color: $color-primary !important;
}