$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
// $color-tertiary : #64AC81;
// $color-4 : #338C83;
// $color-accent : #2F4858;
$color-disabled: var(--color-disabled);
$color-semi-disabled: var(--color-semi-disabled);
// $color-fb: #473DF5;
// $color-google: #4A4A4ACC