<div class="products-container">
    <app-section-header headerText="all products"></app-section-header>
    <app-products-list [products]="products"></app-products-list>
    <div class="product-pagination">
        <a class="page-i">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            prev
        </a>
        <a class="page-i">1</a>
        <a class="page-i">2</a>
        <a class="page-i">3</a>
        <a class="page-i dots">...</a>
        <a class="page-i">20</a>
        <a class="page-i" href="">
            next
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </a>
    </div>
</div>