<header>
    <nav>
        <div class="menu-container menu-left">
            <!-- <div class="menu">
                <span><a>menu1</a></span>
                <ul>
                    <li><a>sub1</a></li>
                    <li><a>sub2</a></li>
                    <li><a>sub3</a></li>
                </ul>
            </div> -->
            <div class="menu">
                <a class="nav-link" [routerLink]="'home'" routerLinkActive="active"> home </a>
                <a class="nav-link" [routerLink]="'products'" routerLinkActive="active"> products </a>
            </div>
            <div class="menu">
                <a class="nav-link" [routerLink]="'cart'" routerLinkActive="active">
                    <fa-icon [icon]="faCartArrowDown"></fa-icon>
                </a>
                <a class="nav-link" [routerLink]="'connect'" routerLinkActive="active">
                    <fa-icon [icon]="faUser"></fa-icon>
                </a>
            </div>
            <!-- <div class="menu">
                <span><a>menu1</a></span>
                <ul>
                    <li><a>sub1</a></li>
                    <li><a>sub2</a></li>
                    <li><a>sub3</a></li>
                </ul>
            </div> -->
        </div>
        <!-- <div class="menu-container menu-right">
            <div class="menu">
                <span><a>menu4</a></span>
                <ul>
                    <li><a>sub1</a></li>
                    <li><a>sub2</a></li>
                    <li><a>sub3</a></li>
                </ul>
            </div>
            <div class="menu">
                <span><a>menu5</a></span>
                <ul>
                    <li><a>sub1</a></li>
                    <li><a>sub2</a></li>
                    <li><a>sub3</a></li>
                </ul>
            </div>
        </div> -->
        <div class="burger">
            <span>-X-</span>
        </div>
    </nav>
</header>