<div class="home">
    <div class="banner">
        <div id="slides" #slides class="slides">
            <div id="slide-1" class="slide slide-active"></div>
            <div id="slide-2" class="slide"></div>
            <div id="slide-3" class="slide"></div>
        </div>
        <span id="left-btn" class="slide-btn" (click)="onClickMove(false)">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </span>
        <span id="right-btn" class="slide-btn" (click)="onClickMove(true)">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </span>
        <div id="slide-indexes" #slideIndexes class="slide-indexes">
            <div class="slide-i slide-i-active"></div>
            <div class="slide-i"></div>
            <div class="slide-i"></div>
        </div>
    </div>
    <div class="products-top">
        <app-section-header headerText="best seller"></app-section-header>
        <app-products-list [products]="products"></app-products-list>
    </div>
</div>