<div class="home">
    <div class="banner">
        <div id="slides" #slides class="slides">
            <ng-container *ngFor="let slide of slideList">
                <div id="{{ 'slide-' + slide.id }}" class="slide" [ngClass]="slide.id==1?'slide-active':''">
                    <img src="{{slide.image}}" alt="{{slide.textContent}}">
                    <div class="slide-content">
                        <span>{{slide.textContent}}</span>
                    </div>
                </div>
            </ng-container>
            <!-- <div id="slide-2" class="slide">
                <img src="assets/amanda-vick-ohWf6YuzOQk-unsplash.jpg" alt="freestocks">
                <div class="slide-content">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </div>
            <div id="slide-3" class="slide">
                <img src="assets/amanda-vick-ohWf6YuzOQk-unsplash.jpg" alt="freestocks">
                <div class="slide-content">
                    <span>Lorem ipsum dolor sit amet, consectetur.</span>
                </div>
            </div> -->
        </div>
        <span id="left-btn" class="slide-btn" (click)="onClickMove(false)">
            <mat-icon class="icon icon-lg">chevron_left</mat-icon>
        </span>
        <span id="right-btn" class="slide-btn" (click)="onClickMove(true)">
            <mat-icon class="icon icon-lg">chevron_right</mat-icon>
        </span>
        <div id="slide-indexes" #slideIndexes class="slide-indexes">
            <ng-container *ngFor="let slide of slideList">
                <div class="slide-i" [ngClass]="slide.id==1?'slide-i-active':''"></div>
            </ng-container>
            <!-- <div class="slide-i slide-i-active"></div>
            <div class="slide-i"></div> -->
        </div>
    </div>
    <div class="products-top">
        <app-section-header headerText="best seller"></app-section-header>
        <app-products-list [products]="products"></app-products-list>
    </div>
</div>