<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onConnect()" class="form-group">
        <div class="form-item">
            <label for="username">username :</label>
            <input id="username" formControlName="username" type="username" />
        </div>
        <div class="form-item">
            <label for="pwd">password :</label>
            <input id="pwd" formControlName="pwd" type="password" />
        </div>
        <button class="form-btn" type="submit">connect</button>
    </form>
</div>